<h1>学科編集画面</h1>
<table border="3">
	<tr>
		<th align="center">学科</th>
		<th align="center">キー</th>
	</tr>
	<% @data.each do |d| %>
		<tr>
			<td align="center"><%= d.name %></td>
			<td align="center"><%= d.key %></td>
			<td align="center"><%= button_to "削除" ,department_delete_path(id: d.id) %></td>
		</tr>
	<% end %>
</table>
<h2>追加フォーム</h2>
<%= form_for :come, url: department_create_path do |f| %>
	<h3>学科名</h3>
	<%= f.text_area :name , :size=>"60*20" %>
	<h3>キー</h3>
	<%= f.text_area :key , :size=>"60*20" %>
	<p><%= f.submit "追加" %></p>
<% end %>
