<h1>日報システム</h1>

<%=link_to "CSVダウンロード", calendar_index_path(format: "csv"), class: "btn btn-warning" %>
<%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %>
	<p align="right">
		<font size="+2">
		<%= link_to date.day, daypage_show_path(date: date) %></p>
	<h3 align="center">
		</font>
		<%= @users.all.where("date = ?", date).count %>件
	</h3>
<% end %>
<table border="3">
	<tr>
	<th>学科</th>
	<% @departments.each do |d| %>
		<th><%= d %></th>
	<% end %>
	</tr>
	<tr>
	<th>件数</th>
	<% @count.each do |c| %>
		<th><%= c %></th>
	<% end %>
	</tr>
	<tr>
	<th>人数</th>
	<% @count_person.each do |c| %>
		<th><%= c %></th>
	<% end %>
	</tr>
</table>
<b>
<table border="3">
	<tr>
		<th>日付</th>
		<th>学科</th>
		<th>備考欄</th>
	</tr>
	<% @memos.each do |d| %>
	<tr>
	<th><%= d.date %></th>
	<th><%= d.department %></th>
	<th><%= d.remarks %></th>
	</tr>
	<% end %>
</table>
