<h1><%= @date %></h1>
<h3><%= button_to "戻る", root_path(start_date: @date), method: :get %></h3>
<table border="3">	
	<tr>
		<th align="center">開始時間</th>
		<th align="center">終了時間</th>
		<th align="center">学科</th>
		<th align="center">学年</th>
		<th align="center">性別</th>
		<th align="center">相談内容</th>
		<th align="center">備考</th>
		<th align="center">人数</th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td align="center">
				<% if user.starttime.present? %>
					<%= user.starttime.strftime("%H:%M") %>
				<% end %>
			</td>
			<td align="center">
				<% if user.finishtime.present? %>
					<%= user.finishtime.strftime("%H:%M")  %>
				<% end%>
			</td>
			<td align="center"><%= user.department  %></td>
			<td align="center"><%= user.year  %></td>
			<td align="center"><%= user.sex  %></td>
			<td><%= user.contents  %></td>
			<td><%= user.remarks  %></td>
			<td align="center"><%= user.number %></td>
			<td align="center"><%= button_to "削除", daypage_delete_path(date:@date,id: user.id)%></td>
		</tr>
	<% end %>
</table>
<br>

<%= form_for :come, url: daypage_create_path(date: @date) do |f| %>
<table border="1">
	<caption><b>入力フォーム</b></caption>
	<%= f.hidden_field :date , :value => @date %>
	<tr>
		<th>
			<h3>開始時間</h3>
			<%= f.time_field :starttime,{min: '13:00',max: '17:59', value: @nowTime.strftime("%H:%M")}%>
		</th>
		<th>
			<h3>終了時間</h3>
			<%= f.time_field :finishtime,{min: '13:00',max: '18:00',value: @nowTime.strftime("%H:%M")} %>
		</th>
		<th>
			<h3>学科</h3>
	 		<%= f.select(:department, @department) %>
		</th>
		<th>
			<h3>学年</h3>
			<%= f.select(:year, [["1",1],["2",2],["3",3],["4",4]]) %>
		</th>
		<th>
			<h3>性別</h3>
			<%= f.select(:sex, [["男","m"],["女","f"]]) %>
		</th>
		<th>
			<h3>人数</h3>
			<%= f.select(:number, [["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7]]) %>
		</th>
	</tr>
	<tr>
		<th colspan='6'>
			<h3>相談内容</h3>
			<%= f.text_area :contents, placeholder: '相談内容' , :size=>"60*100" %>
		</th>
	</tr>
	<tr>
		<th colspan='6'>
			<h3>備考</h3>
			<%= f.text_area :remarks, placeholder: '備考' , :size=>"60*50" %>
		</th>
	</tr>
	<tr>
		<th colspan='6' >
			<p><%= f.submit "保存" %></p>
		</th>
	</tr>
</table>
<% end %>
