<h1>データ編集用ページ</h1>

<%= form_for :come, url: data_search_path do |f| %>
<table border="2">
<tr>
    <th>年度</th>
    <th>学科</th>
</tr>    
<tr>
    <th><%= f.text_area :year , :maxlength => 4,:size=>"20*10" %></th>
    <th><%= f.select(:department, @department,:include_blank => "") %></th>
    <th><p><%= f.submit "検索" %></p></th>
</tr>
	 		
<% end %>
</table>
<br>
<%=link_to "CSVダウンロード", data_csv_path(format: "csv", year: @year,department: @depart), class: "btn btn-warning"%>

<table border="3">	
    <tr>
        <th align="center">日付</th>
		<th align="center">開始時間</th>
		<th align="center">終了時間</th>
		<th align="center">学科</th>
		<th align="center">学年</th>
		<th align="center">性別</th>
		<th align="center">相談内容</th>
		<th align="center">備考</th>
		<th align="center">人数</th>
	</tr>
    <% @users.each do |user| %>
        <tr>
            <td align="center">
                <%= user.date  %>
            </td>
			<td align="center">
				<% if user.starttime.present? %>
					<%= user.starttime.strftime("%H:%M") %>
				<% end %>
			</td>
			<td align="center">
				<% if user.finishtime.present? %>
					<%= user.finishtime.strftime("%H:%M")  %>
				<% end%>
			</td>
			<td align="center"><%= user.department  %></td>
			<td align="center"><%= user.year  %></td>
			<td align="center"><%= user.sex  %></td>
			<td><%= user.contents  %></td>
			<td><%= user.remarks  %></td>
			<td align="center"><%= user.number %></td>
			<td align="center"><%= button_to "削除", data_delete_path(id: user.id)%></td>
		</tr>
	<% end %>
</table>
<br>
