// Place all the styles related to the daypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#layout01 {
  background-color: red;
  float: left;  /* 回り込み */
}

#layout02 {
  background-color: green;
  float: left;  /* 回り込み */
}

#submit_button {
	padding: 15px 40px;
    font-size: 1.2em;
    // 背景色を黒に指定
    background-color: #000;
    // 文字色を白に指定
    color: #fff;
    // submitボタンのを枠を非表示にする
    border-style: none;

}
