<!DOCTYPE html>
<html>
  <head>
    <title>citsaOffice</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag '//www.google.com/jsapi', 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
